<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tinder</title>
    <link rel="stylesheet" href="../public/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../public/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../public/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../public/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../public/assets/css/Header-1-1.css">
    <link rel="stylesheet" href="../public/assets/css/header-1.css">
    <link rel="stylesheet" href="../public/assets/css/header-2.css">
    <link rel="stylesheet" href="../public/assets/css/header.css">
    <link rel="stylesheet" href="../public/assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="../public/assets/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="../public/assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="../public/assets/css/Testimonials.css">
    <link rel="stylesheet" href="../public/assets/css/untitled.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" style="color:#21a9af;" href="#"><img style="width:130px;" src="../public/assets/img/1.png"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse float-end d-inline-flex flex-row justify-content-end align-items-end" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" style="color:#a2a7ab;margin-right:15px;font-size:14px;" href="#">Categorias</a></li>
                </ul><span class="navbar-text"> </span><a class="btn btn-light action-button" role="button" style="width:120px;font-size:14px;margin-right:15px;border:1px solid #01a982;color:#01a982;font-family:'Source Sans Pro', sans-serif;" href="#">Login</a><a class="btn btn-light action-button" role="button" style="width:120px;font-size:14px;background-color:#01a982;border:1px solid #01a982;font-family:'Source Sans Pro', sans-serif;font-weight:400;" href="login.html">Sig Up</a>
                <ul class="navbar-nav"></ul>
            </div>
        </div>
    </nav>
    <section class="highlight-blue">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Highlight</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="#">Primary</a></div>
        </div>
    </section>
    <section class="photo-gallery"></section>
    <section class="testimonials-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Testimonials </h2>
                <p class="text-center">Our customers love us! Read what they have to say below. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                    </div>
                    <div class="author"><img class="rounded-circle" src="../public/assets/img/1.jpg">
                        <h5 class="name">Ben Johnson</h5>
                        <p class="title">CEO of Company Inc.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id.</p>
                    </div>
                    <div class="author"><img class="rounded-circle" src="../public/assets/img/3.jpg">
                        <h5 class="name">Carl Kent</h5>
                        <p class="title">Founder of Style Co.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">Aliquam varius finibus est, et interdum justo suscipit. Vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    </div>
                    <div class="author"><img class="rounded-circle" src="../public/assets/img/2.jpg">
                        <h5 class="name">Emily Clark</h5>
                        <p class="title">Owner of Creative Ltd.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-dark text-white border-top border-info">
        <div class="container text-center text-sm-start position-relative py-5">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <h3 class="text-info pb-2 border-bottom border-info">Lorem Ipsum</h3>
                    <ul class="list-unstyled d-inline-block d-sm-block">
                        <li class="mb-2"><a class="link-light" href="#">Expers cum eodem</a></li>
                        <li class="mb-2"><a class="link-light" href="#">Sensim fame petivere</a></li>
                        <li class="mb-2"><a class="link-light" href="#">Minimumque</a></li>
                        <li class="mb-2"><a class="link-light" href="#">Vulgasset ut solent</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h3 class="text-info pb-2 border-bottom border-info">Lorem Ipsum</h3>
                    <ul class="list-unstyled d-inline-block d-sm-block">
                        <li class="mb-2"><a class="link-light" href="#">Expers cum eodem</a></li>
                        <li class="mb-2"><a class="link-light" href="#">Vulgasset ut solent</a></li>
                        <li class="mb-2"><a class="link-light" href="#">Sensim fame petivere</a></li>
                        <li class="mb-2"><a class="link-light" href="#">Minimumque</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h3 class="text-info pb-2 border-bottom border-info">Lorem Ipsum</h3>
                    <ul class="list-unstyled d-inline-block d-sm-block">
                        <li class="mb-2"><a class="link-light" href="#">Expers cum eodem</a></li>
                        <li class="mb-2"><a class="link-light" href="#">Minimumque</a></li>
                        <li class="mb-2"><a class="link-light" href="#">Sensim fame petivere</a></li>
                        <li class="mb-2"><a class="link-light" href="#">Vulgasset ut solent</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h3 class="text-info pb-2 border-bottom border-info">Lorem Ipsum</h3>
                    <ul class="list-unstyled d-inline-block d-sm-block">
                        <li class="mb-2"><a class="link-light" href="#">Minimumque</a></li>
                        <li class="mb-2"><a class="link-light" href="#">Sensim fame petivere</a></li>
                        <li class="mb-2"><a class="link-light" href="#">Vulgasset ut solent</a></li>
                        <li class="mb-2"><a class="link-light" href="#">Expers cum eodem</a></li>
                    </ul>
                </div>
            </div>
            <div class="text-center position-absolute w-100 mt-4"><a href="#top"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-dark"></i><i class="fa fa-angle-up fa-stack-1x text-white"></i></span></a></div>
        </div>
        <div class="pt-5 pb-4 bg-info text-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4 text-center text-md-start pb-4">
                        <h2 class="mb-3"><i class="fa fa-diamond"></i>&nbsp;Company</h2>
                        <p class="mb-1"><i class="fa fa-map-marker fa-fw"></i>&nbsp;Royal Road - Tamarin - Mauritius</p>
                        <p class="mb-1"><i class="fa fa-phone fa-fw"></i>&nbsp;+230 12 34 56 78</p>
                        <p class="mb-1"><i class="fa fa-envelope fa-fw"></i>&nbsp;<a class="text-dark" href="mailto:contact@company.com">contact@company.com</a></p>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center text-md-start pb-4">
                        <p class="my-3">Post quorum necem nihilo lenius ferociens Gallus ut leo cadaveribus pastus multa huius modi scrutabatur. quae singula narrare non refert, me professione modum, quod evitandum est, excedamus.</p>
                    </div>
                    <div class="col-lg-4 text-center text-lg-end pb-4">
                        <h3 class="mb-0">Follow us</h3>
                        <p class="mb-2">Subscribe to our newsletter</p>
                        <form class="d-flex justify-content-center justify-content-lg-end">
                            <div class="w-75 form-group mb-3">
                                <div class="input-group"><input class="form-control" type="text" required="" placeholder="Your email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,15}$" inputmode="email"><button class="btn btn-dark" type="submit">Go!</button></div>
                            </div>
                        </form>
                        <div><a class="text-dark mx-2 mx-lg-0 ms-lg-3" href="#"><i class="fa fa-instagram fa-2x"></i></a><a class="text-dark mx-2 mx-lg-0 ms-lg-3" href="#"><i class="fa fa-twitter fa-2x"></i></a><a class="text-dark mx-2 mx-lg-0 ms-lg-3" href="#"><i class="fa fa-facebook-square fa-2x"></i></a><a class="text-dark mx-2 mx-lg-0 ms-lg-3" href="#"><i class="fa fa-snapchat-ghost fa-2x"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center text-lg-start py-2 small bg-dark text-info fst-italic">
            <div class="container">
                <p class="m-0">© 2018 Company ~ All rights reserved</p>
            </div>
        </div>
    </footer>
    <script src="../public/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/assets/js/chart.min.js"></script>
    <script src="../public/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="../public/assets/js/Lightbox-Gallery.js"></script>
    <script src="../public/assets/js/Simple-Slider.js"></script>
    <script src="../public/assets/js/theme.js"></script>
</body>

</html>